# tasks file
---
- name: install | dependencies
  ansible.builtin.apt:
    name: "{{ dropbox_dependencies }}"
    state: "{{ apt_install_state | default('latest') }}"
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags:
    - dropbox-install-dependencies

- name: create (download) directory
  ansible.builtin.file:
    path: "{{ dropbox_downloads_path }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  tags:
    - configuration
    - dropbox
    - dropbox-download

- name: download
  ansible.builtin.command: >
    curl -sSL
    https://www.dropbox.com/download?dl=packages/{{ ansible_distribution | lower }}/dropbox_{{ dropbox_version }}_{{ dropbox_machine_map[ansible_machine] }}.deb
    -o {{ dropbox_downloads_path }}/dropbox_{{ dropbox_version }}_{{ dropbox_machine_map[ansible_machine] }}.deb
  args:
    creates: "{{ dropbox_downloads_path }}/dropbox_{{ dropbox_version }}_{{ dropbox_machine_map[ansible_machine] }}.deb"
    warn: false
  tags:
    - configuration
    - dropbox
    - dropbox-download

- name: install deb file
  ansible.builtin.apt:
    deb: "{{ dropbox_downloads_path }}/dropbox_{{ dropbox_version }}_{{ dropbox_machine_map[ansible_machine] }}.deb"
  tags:
    - configuration
    - dropbox
    - dropbox-install-deb
